name: ci
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:
    branches:
      - main
jobs:
  lint:
    uses: ./.github/workflows/run.yml
    secrets: inherit
    with:
      cmd: pnpm build && pnpm lint

  generate:
    uses: ./.github/workflows/run.yml
    secrets: inherit
    with:
      cmd: pnpm build && pnpm generate && git diff --exit-code

  build:
    uses: ./.github/workflows/run.yml
    secrets: inherit
    with:
      cmd: pnpm build && pnpm run setup && bash .github/start.sh

  test:
    uses: ./.github/workflows/run.yml
    secrets: inherit
    with:
      cmd: pnpm build && pnpm run setup && pnpm test:unit
